model:
  cldm:
    target: model.cldm.ControlLDM
    params:
      latent_scale_factor: 0.18215
      unet_cfg:
        use_checkpoint: True
        image_size: 32 # unused
        in_channels: 4
        out_channels: 4
        model_channels: 320
        attention_resolutions: [ 4, 2, 1 ]
        num_res_blocks: 2
        channel_mult: [ 1, 2, 4, 4 ]
        num_head_channels: 64 # need to fix for flash-attn
        use_spatial_transformer: True
        use_linear_in_transformer: True
        transformer_depth: 1
        context_dim: 1024
        legacy: False
      vae_cfg:
        embed_dim: 4
        ddconfig:
          double_z: true
          z_channels: 4
          resolution: 256
          in_channels: 3
          out_ch: 3
          ch: 128
          ch_mult:
          - 1
          - 2
          - 4
          - 4
          num_res_blocks: 2
          attn_resolutions: []
          dropout: 0.0
      clip_cfg:
        embed_dim: 1024
        vision_cfg:
          image_size: 224
          layers: 32
          width: 1280
          head_width: 80
          patch_size: 14
        text_cfg:
          context_length: 77
          vocab_size: 49408
          width: 1024
          heads: 16
          layers: 24
        layer: "penultimate"
      controlnet_cfg:
        use_checkpoint: True
        image_size: 32 # unused
        in_channels: 4
        hint_channels: 4
        model_channels: 320
        attention_resolutions: [ 4, 2, 1 ]
        num_res_blocks: 2
        channel_mult: [ 1, 2, 4, 4 ]
        num_head_channels: 64 # need to fix for flash-attn
        use_spatial_transformer: True
        use_linear_in_transformer: True
        transformer_depth: 1
        context_dim: 1024
        legacy: False

  diffusion:
    target: model.gaussian_diffusion.Diffusion
    params:
      linear_start: 0.00085
      linear_end: 0.0120
      timesteps: 1000

dataset:
  train:
    target: dataset.codeformer.CodeformerDataset
    params:
      # training file list path
      file_list: "#TODO datasets/Images_Diff_hf_formal_new/img_files.txt"
      file_backend_cfg:
        target: dataset.file_backend.HardDiskBackend
      out_size: 512
      crop_type: none
      downsample_range: [1, 6]
      noise_range: [0, 15]
      jpeg_range: [60, 100]

train:
  # pretrained sd v2.1 path
  sd_path: "#TODO DiffBIR/weights/v2-1_512-ema-pruned.ckpt"
  # experiment directory path
  exp_dir: "#TODO DiffBIR/exp_dir/exp_hf_final_cldm_04f02"
  # stage 1 swinir path
  learning_rate: 1e-5
  warmup_steps: 250
  # ImageNet 1k (1.3M images)
  # batch size = 192, lr = 1e-4, total training steps = 25k
  # Our filtered laion2b-en (15M images)
  # batch size = 256, lr = 1e-4 (first 30k), 1e-5 (next 50k), total training steps = 80k
  batch_size: 2
  num_workers: 2
  train_steps: 160000
  learn_iter_num: 1
  log_every: 20
  ckpt_every: 2000
  image_every: 250
  # resume: ~
  # resume: #TODO DiffBIR/weights/v2.pth
  resume: #TODO DiffBIR/exp_dir/exp_hf_final_cldm_02f01/checkpoints/controlnet_0010000.pt
  unet_resume: ~
  clip_resume: ~
  vae_resume: #TODO DiffBIR/exp_dir/exp_vaehf05f04/checkpoints/0012000_vae.pt